@model IEnumerable<ASM.Models.CartDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantily)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Images)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Stt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Stt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Stt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
